<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.loginf" data-show="app.loginf.onShow" data-after-show="app.loginf.afterShow" id="loginfScreen" class="screen">
    <div class="signin-view screen__content screen__content--signin">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label><span data-bind="text: strings.loginf.loginfModel.emailLabel"></span>
                        <input type="email" data-bind="value: loginfModel.email, attr: { placeholder: strings.loginf.loginfModel.emailPlaceholder }" required autofocus>
                    </label>
                </li>
                <li>
                    <label><span data-bind="text: strings.loginf.loginfModel.passwordLabel"></span>
                        <input type="password" data-bind="value: loginfModel.password, attr: { placeholder: strings.loginf.loginfModel.emailPlaceholder }" required>
                    </label>
                </li>
            </ul>

            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary" data-bind="events: { click: loginfModel.signin }, buttonText: strings.loginf.loginfModel.signinLabel"></a>

                <a data-role="button" data-bind="events: { click: loginfModel.toggleView }, buttonText: strings.loginf.loginfModel.gotoRegisterLabel"></a>

            </div>

            <span class="status" data-bind="text: loginfModel.errorMessage"></span>
        </form>
    </div>
    <div class="signup-view screen__content screen__content--signup" style="display:none;">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label><span data-bind="text: strings.loginf.loginfModel.registerEmailLabel"></span>
                        <input type="email" data-bind="value: loginfModel.email" required>
                    </label>
                </li>
                <li>
                    <label><span data-bind="text: strings.loginf.loginfModel.registerPasswordLabel"></span>
                        <input type="password" data-bind="value: loginfModel.password">
                    </label>
                </li>
                <li>
                    <label><span data-bind="text: strings.loginf.loginfModel.registerNameLabel"></span>
                        <input type="text" data-bind="value: loginfModel.displayName">
                    </label>
                </li>
            </ul>
            <div class="button-group button-group-vertical">
                <a class="primary" data-role="button" data-bind="events: { click: loginfModel.register }, buttonText: strings.loginf.loginfModel.registerLabel"></a>
                <a data-role="button" data-bind="events: { click: loginfModel.toggleView }, buttonText: strings.loginf.loginfModel.gotoSigninLabel"></a>
            </div>

            <span class="status" data-bind="text: loginfModel.errorMessage"></span>
        </form>
    </div>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_loginfModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_loginfModel -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.loginf.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_loginf -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_loginf -->
</div>