
/* LOGIN VIEW */

#kendoUiMobileApp #loginScreen #loginModel {
    background: url(img/moto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

#kendoUiMobileApp #loginScreen #loginModel #logo {
    width: 70%;
}

#kendoUiMobileApp #loginScreen #loginModel form .form-content .input-padding {
    padding: 1.09em .84em 2.23em .84em;
}

#kendoUiMobileApp #loginScreen #loginModel form .form-content .no-bordered {
    border: none;
}

#kendoUiMobileApp #loginScreen #loginModel #logoField div {
    margin-top: 10%;
}

#kendoUiMobileApp #loginScreen #loginModel .input-icon {
    width: 50%;
}

#kendoUiMobileApp #loginScreen #loginModel .button-paddin {
    margin: 0em 1em 1em 1em;
}

/* REGISTER VIEW */

#kendoUiMobileApp #registerViewScreen #registerViewModel{
    background-color: #3F3F3E;
}

#kendoUiMobileApp #registerViewScreen #registerViewModel h1 {
    color: #fff;
    font-family: sans-serif; 
    font-weight: lighter;
}

#kendoUiMobileApp #registerViewScreen #registerViewModel hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

#kendoUiMobileApp #registerViewScreen #registerViewModel li {
    border: none;
}

#kendoUiMobileApp #registerViewScreen #registerViewModel input {
    border-bottom: 1px solid #fff;
}

#kendoUiMobileApp #registerViewScreen #registerViewModel select {
    border-bottom: 1px solid #fff;
}

#kendoUiMobileApp #splashScreen #splashViewModel {
    background-color: #4D4D4C;
}
