<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.splash" data-show="app.splash.onShow" data-after-show="app.splash.afterShow" id="splashScreen" class="screen">
    <div id="splashViewModel" class="screen__content">
    </div>
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.splash.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_splash -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_splash -->
</div>